# ===== Python / Django =====
venv/
__pycache__/
*.pyc
db.sqlite3

# Django media & static
media/
staticfiles/

# ===== Node / Next.js =====
node_modules/
.next/
dist/

# ===== Env files =====
.env
.env.*
.env.local

# ===== OS =====
.DS_Store
Thumbs.db
